header{
display: flex;
  justify-content: space-around;
  background-color: #f59a24;
}

header img{
    width: 100px;
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    color: #169bd5;
    font-size: 20px;
  }

footer{
    display: flex;
    justify-content: space-around;
    background-color: #6c6c6c   ;
}

iframe{
    height: auto;
  width: auto;
  max-width: 100%;
}

#svg{
    display: flex;
    gap:10px;
}

#input_newsletter{
    border: #f59a24 solid 2px;
}

#instagram, #facebook, #twitter{
    width: 40px;
}

#submit_newsletter{
    border-radius: 20px;
    width: 50%;
    background-color: #f59a24;
    color: white;
}